
<div>

<a href="/dashboard/create/"><button  class="btn btn-primary mb-2 createPostBtn" id="createPost">>Create New Post</button></a>

    <h3>Your Previous Posts</h3>
{{#if posts.length}}
</div>

    {{#each posts as |post|}}
        {{> post-card post}}
        <a href="/dashboard/edit/{{post.id}}"><button class="btn btn-primary mb-2 dbEditLink" id="dbEdit">Edit</button></a> 
           
    {{/each}}

{{else}}
    <h5>There are currently no posts to display!</h5>

{{/if}}

