<section>
    <h3>Creat A New Post</h3>
        <form class="add-post-form">
            <div class="form-group"></div>
                 <label for="postTitle">Post Title</label>
                    <input type="text" class="form-control" id="postTitleArea" name="postTitleArea" placeholder="Post Title">
            </div>
             <div class="form-group">
                   <label for="PostTextArea">Post Content</label>
                        <textarea class="form-control" id="postTextArea" name="postTextArea" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-2 createPostBtn" id="dbCreate">Create Post</button>
        </form>
</section>
{{#if posts.length}}
<section>
    <h3>Your Previous Posts</h3>

    {{#each posts as |post|}}
        {{> post-card post}}
        <a href="/dashboard/edit/{{post.id}}"><button class="btn btn-primary mb-2 dbEditLink" id="dbEdit">Edit</button></a>    
    {{/each}}
{{else}}
    <h5>There are currently no posts to display!</h5>
</section>
{{/if}}

<script src="../public/js/add-post.js"></script>