<div class="column">
    <h3>Creat Your Account<h3>
        <form class="signupForm">
            <div>
            <label for="userSignup">Choose a Username</label>
            <input type="text" id="userSignup">
            </div>

            <div>
                <label for="emailSignup">Enter Your Email Address</label>
                <input type="email" id="emaiSignup">
            </div>

            <div>
                <label for="pwSignup">Choose a Password</label>
                <input type="text" id="pwSignup">
            </div>
            <button type="submit" class="btn btn-primary mb-2" id="acctSignup">Create Account</button>

        </form>
</div>

{{!-- using singup function to handle user signup --}}
<script src="../public/js/singup.js"></script>